
[data-theme="dark"] {
    background-color: #111 !important;
    color: white;
  }
  [data-theme="dark"] .bg-light {
    background-color: #1d2024 !important;
  }
  [data-theme="dark"] .bg-white {
    background-color: #1d2024 !important;
  }
  [data-theme="dark"] .bg-dark {
    background-color: #ededed !important;
  }
  [data-theme="dark"] .navbar-light .navbar-brand{
    color: white !important;
  }
  [data-theme="dark"] .text-dark{
    color: white !important;
  }
  [data-theme="dark"] a.text-dark:hover{
    color: white !important;
  }
  [data-theme="dark"] .nav-link{
    color: white !important;
  }
  [data-theme="dark"] .navbar-light .navbar-toggler{
    color: rgba(255,255,255,.5)!important;
    border-color: rgba(255,255,255,.1)!important;
  }
body{
  font-family: 'Montserrat', sans-serif;
  background-color: #ededed!important;
}
.active > .nav-link {
  border-bottom: 2px solid red;  
}
.dark-mode {
background-color: #1d2024;
color: white;
}
.box-news, .info{
  min-height: 100px;  
}
#berita .box-news{
  min-height: 140px;
}
.news-text{
  min-height: 29%;
}
.info-header{
  margin: 6% 0;
  max-width: 65%;
}
.text-orange{
  color : #f78820;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}
@media only screen and (max-width: 600px) {
  .info-header{    
    max-width: 100%;
  }
}